<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmsc434.fixedfoods">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cmsc434.com.cmsc434.fixedfoods.ResultsView"></activity>
        <activity android:name="com.cmsc434.com.cmsc434.fixedfoods.PreferencesPage" />
        <activity android:name="com.cmsc434.com.cmsc434.fixedfoods.PastScans" />
        <activity android:name="com.cmsc434.com.cmsc434.fixedfoods.ScanningInterface" />
        <activity android:name="com.cmsc434.com.cmsc434.fixedfoods.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>